<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="timer">
        <!-- <span class="minutes" #timer>{{hourse || '00'}}</span> :   <span class="minutes">{{minutes || '00'}}</span> : <span class="seconds">{{seconds || '00'}}</span> -->
        <span class="minutes" #timer>00:00:00</span>
        <div>
          <button (click)="start() " class="btn btn-success">Start</button>
          <button (click)="stop()" class="btn btn-primary">Stop</button>
          <button (click)="wait()" class="btn btn-secondary">Wait</button>
          <button (click)="reset()" class="btn btn-danger">Reset</button>
        </div>
      </div>
    </div>
  </div>
</div>





<!-- <br>
<app-timer></app-timer> -->